<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <appSettings>
    <add key="XMLDirectoryToBeProcessed" value="D:\VeluweGranen\ExactFiles\ToBeProcessed" />
    <add key="XMLDirectoryProcessed" value="D:\VeluweGranen\ExactFiles\Processed" />
    <add key="XMLDirectoryError" value="D:\VeluweGranen\ExactFiles\Error" />
    <add key="ExactOnlineURL" value="https://start.exactonline.nl" />
    <add key="ApplicationKey" value="{288fc32a-ec79-4935-856f-36f08b1e7ebf}" />
    <add key="UserName" value="gerard@veluwegranen.nl" />
    <add key="Password" value="6713vc09" />
    <add key="AdministrationDescription" value="Veluwe Granen BV"/>
    <add key="Administration" value="306842" />
    <!-- deze is voor veluwe granen toch altijd hetzelfde, dus zetten we gewoon in de app.config-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RunAutomatic" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
