<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <configSections>
      <sectionGroup name="applicationSettings"
                    type="System.Configuration.ApplicationSettingsGroup, System" >

        <section name="OAuthUploader.Properties.Settings"
                 type="System.Configuration.ClientSettingsSection, System"
                 requirePermission="false" />

      </sectionGroup>
    </configSections>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appsettings>
    <add key="UserName" value="gerard@veluwegranen.nl"/>
    <add key="Password" value="6713vc09"/>
    <add key="Administration" value="306842"/>

    <add key="XMLDirectoryToBeProcessed" value="c:\VeluweGranen\ExactFiles\ToBeProcessed"/>
    <add key="XMLDirectoryProcessed" value="c:\VeluweGranen\ExactFiles\Processed"/>
    <add key="XMLDirectoryError" value="c:\VeluweGranen\ExactFiles\Error"/>
    <add key="ExactOnlineURL" value="https://start.exactonline.nl"/>
    <add key="ApplicationKey" value="{288fc32a-ec79-4935-856f-36f08b1e7ebf}"/>

    <add key="mailto" value="gerard@veluwegranen.nl"/>
    <add key="mailcc" value="frankvanbokhoven@gmail.com"/>
    <add key="mailfrom" value="yggdrasolutions@gmail.com"/>
    <add key="ClientSecret" value="dtsaOssnJJhY"/>
  </appsettings>
</configuration>